# VS & VS code config files
.vscode/
.vs/
CMakeSettings.json

# Compiled python files
*.pyc

# Untracked directories in the main repo
FILES/EXAMPLE/*
ASMC_SRC/BIN/*

# Build directories
build
Build
debug
Debug
release
Release

# Virtual environments
venv