# VS & VS code config files
.vscode/
.vs/
CMakeSettings.json
cmake-build-*

# Compiled python files
*.pyc

# Untracked directories in the main repo
FILES/EXAMPLE/*
ASMC_SRC/BIN/*

# Build directories
build
Build
debug
Debug
release
Release

# Virtual environments
venv*

# Notebook outputs
notebooks/tmp_output
*checkpoint.ipynb

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Libraries
*.so